@import-normalize; /* bring in normalize.css styles */
:root {
  --coffe_Dark: rgb(141, 64, 16);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 30px;
  color: #483333;
}

.navBar {
  background-color: antiquewhite;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  -webkit-box-shadow: 0px 9px 24px 0px rgba(141,64,16,1);
  -moz-box-shadow: 0px 9px 24px 0px rgba(141,64,16,1);
  box-shadow: 0px 9px 24px 0px rgba(141,64,16,1);
}

.navBar > h3 {
  margin-left: 5%;
}

.navLinks {
  margin-left: 20%;
}

.titlesH3 {
  margin: 15px 0;
}

.titlesH4 {
  margin: 12px 0;
}

.link {
  font-size: 25px;
  margin-right: 23px;
  font-weight: 700;
  color: var(--coffe_Dark);
  text-decoration: none;
}

.link:hover {
  opacity: 70%;
  text-decoration: underline;
}


/*
  ------------------------
  Home page
  ------------------------
*/
.movieNameList {
  margin: 9px 0;
}

.movie {
  font-size: 19px;
  margin-bottom: 10px;
  color: var(--coffe_Dark);
}

.movieLink {
  color: var(--coffe_Dark);
  text-decoration: none;
}

.movieLink:hover {
  opacity: 70%;
  text-decoration: underline;
}

/*
  ------------------------
  Movie Details page
  ------------------------
*/
.movieCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 65%;
  margin-bottom: 100px;
}

.imgMovie {
  width: 100%;
}

.text {
  text-align: justify;
  font-size: 18px;
}

.otherDetails {
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style-type: none;
  font-size: 24px;
}


/*
  ------------------------
  Movie page
  ------------------------
*/
.form {
  width: 470px;
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.formInput {
  width: 65%;
  height: 25px;
  margin-right: 2%;
  border: solid 1px var(--coffe_Dark);
  border-radius: 10px;
}

.formButton {
  width: 70px;
  color: var(--coffe_Dark);
  border: none;
  border-radius: 15px;
  background-color: bisque;
}

.formButton:hover {
  opacity: 70%;
  cursor: pointer;
}